@import 'tailwindcss';

@font-face {
	font-family: 'Bounded';
	src: url('./fonts/Bounded.woff2') format('woff2');
}

html,
body {
	min-height: 100vh;
	width: 100%;
}

body {
	background-color: #151313;
	color: #fff;
	font-family: 'Bounded';
}

.glow {
	position: absolute;
	width: 1000px;
	height: 500px;
	right: 0;
	bottom: 0;

	background: linear-gradient(
		180deg,
		rgba(255, 122, 0, 0.87) -5.66%,
		rgba(255, 0, 0, 0.87) 89.7%
	);
	filter: blur(407px);
}

@media screen and (max-width: 1536px) {
	html {
		font-size: 12px;
	}
}
@media screen and (max-width: 600px) {
	html {
		font-size: 8px;
	}
}
@media screen and (max-width: 450px) {
	html {
		font-size: 6px;
	}
}
