@import 'tailwindcss';

@font-face {
	font-family: 'Bounded';
	src: url('./fonts/Bounded.woff2') format('woff2');
}

html,
body {
	min-height: 100vh;
	width: 100%;
}

body {
	background-color: #151313;
	color: #fff;
	font-family: 'Bounded';
}

.glow {
	position: absolute;
	height: 50vh;
	width: 50vw;
	right: -25%;
	bottom: -25%;

	background: linear-gradient(rgba(255, 122, 0, 0.5), rgba(255, 0, 0, 0.5));
	filter: blur(400px);
}

@media screen and (max-width: 1536px) {
	html {
		font-size: 12px;
	}
}
@media screen and (max-width: 600px) {
	html {
		font-size: 8px;
	}
}
@media screen and (max-width: 450px) {
	html {
		font-size: 6px;
	}
}
